<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </br>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </br>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </br>
  <div class="field">
    <%= f.label :industry_id %><br>
    <%= f.select :industry_id, @industries.all.collect {|i| [i.name, i.id]} %>
  </br>
  <div class="field">
    <%= f.label :revenue_model %><br>
    <%= f.select :revenue_model_id, @revmods.all.collect {|r| [r.title, r.id]} %>
  </br></br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %></div></div></div></div></div>
