<h1>Listing competitors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Funding</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competitors.each do |competitor| %>
      <tr>
        <td><%= competitor.name %></td>
        <td><%= competitor.description %></td>
        <td><%= competitor.url %></td>
        <td><%= competitor.funding %></td>
        <td><%= link_to 'Show', competitor %></td>
        <td><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
        <td><%= link_to 'Destroy', competitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competitor', new_competitor_path %>
